# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log

# Directorios de cobertura
coverage/

# Directorios de construcción
build/
dist/

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros
.idea/
.vscode/
*.sublime-*
